body,html 
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background: #ffffff;
}

::-webkit-scrollbar {
    width: 5px;  
    background: transparent;  
}

::-webkit-scrollbar-thumb {
    background: #F37221;
}

.topnav
{
  background-color: transparent;
  border-radius: 0px;
  margin: 0px;
  padding: 0px;
}

.icon-bar
{
  background-color: #ffffff;
}

#logo 
{
    position:absolute;
    left:10px;
    top:10px;
    margin: 0px 15px 15px 0px;
}

#first-name
{
 color: #F37221;
 font-family: 'Roboto', sans-serif;
 font-size: 1.9em;
 font-weight: 100;
 transition: all 1s ease;
 background-color: transparent;
}

#last-name
{
 color: #ffffff;
 font-family: 'Roboto', sans-serif;
 font-size: 1.9em;
 font-weight: 400;
 transition: all 1s ease;
 background-color: transparent;
}

#name
{
  margin-left: 20px; 
  outline: none;
}

#name:hover #first-name,
#name:focus #first-name,
#name:active #first-name
{
  color: #ffffff;
  outline: none;
  transition: all 1s ease;
  background-color: transparent;
}

#name:hover #last-name,
#name:focus #last-name,
#name:active #last-name
{
  color: #F37221;
  outline: none;
  transition: all 1s ease;
  background-color: transparent;
}

.nav
{
  padding-right: 10px;
}

.navbar-brand
{
  outline: none;
}

.topnav ul.navbar-nav li a
{
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  text-align: right;
  font-weight: 400;
  outline: none;
  transition: all 1s ease;
  background-color: transparent;
}

.topnav ul.navbar-nav li a:hover,
.topnav ul.navbar-nav li a:focus,
.topnav ul.navbar-nav li a:active
{
 color: #F37221;
 transition: all 1s ease;
 outline: none;
 background-color: transparent;
}

.container
{
  background: #141414;
}

#work-section
{	
  background-size: cover;
  background: #4B4B4B;
  height: 100%;
  width: 100%;
  padding-top: 50px; 
  overflow-x: hidden;
}

#header-text
{
 font-family: 'Roboto', sans-serif;
 font-weight: 100;
 color:  #F37221;
 font-size: 5em;
 text-align: center;
 width: 100%;
 animation-duration: 2s;
 -moz-animation-duration: 2s;
 -o-animation-duration: 2s;
 -webkit-animation-duration: 2s;
}

.row
{
  background: #4B4B4B;
  padding-bottom: 20px;
}

.col-md-6
{
  padding-bottom: 20px;
  background: #4B4B4B;
}

.demo-card-wide.mdl-card {
  width: 95%;
  color: #FAFAFA;
  background: #101010;
}
.demo-card-wide > .mdl-card__title {
  color: #FAFAFA;
  background: #101010;
  height: 280px;
}

.demo-card-wide > .mdl-card__menu {
  color: #FAFAFA;
  background: #101010;
}

.mdl-button .mdl-button--colored .mdl-js-button .mdl-js-ripple-effect
{
  color: #F37221;
  background: #F37221;
}

#pf-description
{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: rgba(255,255,255,0.8);
}

#ax-description
{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: rgba(255,255,255,0.8);
}

#fb-button1
{
  color: #F37221;
  text-decoration: none;
}

#ps-button1
{
  color: #F37221;
  text-decoration: none;
}

#fb-button2
{
  color: #F37221;
  text-decoration: none;
}

#ps-button2
{
  color: #F37221;
  text-decoration: none;
}

#RDITIH
{
  background: url('../images/RD_InnoHub_Logo.PNG') center / cover;
}

#doubleRobot
{
  background: url('../images/double.jpg') center / cover;
}

#aiBot
{
  background:url('../images/bot.png') center / cover;
}

#container
{
  background:url('../images/cointainer.jpg') center / cover;
}

#blockchain
{
  background:url('../images/blockchain.jpg') center / cover;
}

#person1
{
  background: url('../images/dannydevito.jpg') center / cover;
}

#person2
{
  background: url('../images/charlieday.jpg') center / cover;
}

#person3
{
  background: url('../images/johnnydepp.jpg') center / cover;
}

#person4
{
  background: url('../images/kitharrington.jpg') center / cover;
}

