body,html 
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background: #dbe6ff;
}

::-webkit-scrollbar {
    width: 5px;  
    background: transparent;  
}

::-webkit-scrollbar-thumb {
    background: #ff981c;
}

.topnav
{
  background-color: transparent;
  border-radius: 0px;
  margin: 0px;
  padding: 0px;
}

.icon-bar
{
  background-color: #ffffff;
}

#first-name
{
 color: #ff981c;
 font-family: 'Roboto', sans-serif;
 font-size: 1.9em;
 font-weight: 100;
 transition: all 1s ease;
 background-color: transparent;
}

#last-name
{
 color: #ffffff;
 font-family: 'Roboto', sans-serif;
 font-size: 1.9em;
 font-weight: 400;
 transition: all 1s ease;
 background-color: transparent;
}

#name
{
  margin-left: 20px; 
  outline: none;
}

#name:hover #first-name,
#name:focus #first-name,
#name:active #first-name
{
  color: #ffffff;
  outline: none;
  transition: all 1s ease;
  background-color: transparent;
}

#name:hover #last-name,
#name:focus #last-name,
#name:active #last-name
{
  color: #f8bbd0;
  outline: none;
  transition: all 1s ease;
  background-color: transparent;
}

.nav
{
  padding-right: 10px;
}

.navbar-brand
{
  outline: none;
}

.topnav ul.navbar-nav li a
{
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  text-align: right;
  font-weight: 400;
  outline: none;
  transition: all 1s ease;
  background-color: transparent;
}

.topnav ul.navbar-nav li a:hover,
.topnav ul.navbar-nav li a:focus,
.topnav ul.navbar-nav li a:active
{
 color: #f8bbd0;
 transition: all 1s ease;
 outline: none;
 background-color: transparent;
}

.container
{
  background: #080808;
}

#work-section
{	
  background-size: cover;
  background: #080808;
  height: 100%;
  width: 100%;
  padding-top: 50px; 
  overflow-x: hidden;
}

#header-text
{
 font-family: 'Roboto', sans-serif;
 font-weight: 100;
 color:  #ff981c;
 font-size: 5em;
 text-align: center;
 width: 100%;
 animation-duration: 2s;
 -moz-animation-duration: 2s;
 -o-animation-duration: 2s;
 -webkit-animation-duration: 2s;
}

.row
{
  background: #080808;
  padding-bottom: 20px;
}

.col-md-6
{
  padding-bottom: 20px;
  background: #080808;
}

.demo-card-wide.mdl-card {
  width: 460px;
  color: #FAFAFA;
  background: #101010;
}
.demo-card-wide > .mdl-card__title {
  color: #FAFAFA;
  background: #101010;
  height: 280px;
}

.demo-card-wide > .mdl-card__menu {
  color: #FAFAFA;
  background: #101010;
}

.mdl-button .mdl-button--colored .mdl-js-button .mdl-js-ripple-effect
{
  color: #ff981c;
  background: #ff981c;
}

#pf-description
{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: rgba(255,255,255,0.8);
}

#ax-description
{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: rgba(255,255,255,0.8);
}

#fb-button1
{
  color: #ff981c;
  text-decoration: none;
}

#ps-button1
{
  color: #ff981c;
  text-decoration: none;
}

#fb-button2
{
  color: #ff981c;
  text-decoration: none;
}

#ps-button2
{
  color: #ff981c;
  text-decoration: none;
}


{
  background: url('https://www.doublerobotics.com/img2/standard/hero-linkedin-wide.jpg') center / cover;
}

{
  background: url('https://tctechcrunch2011.files.wordpress.com/2015/02/shutterstock_175625024.jpg?w=738') center / cover;
}

